 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
</head>
<body class="text-center">
    <header>
        <h1 class="bg-primary text-white p-4">Famous Quotes</h1>
    </header>

    <% for(let row of rows) { %>
        "<%= row.quote %>" <br>
    - 
    <a class="authors" href="#" authorId="<%= row.authorId %>">
        <%= row.firstName %> <%= row.lastName %> <br><br>
    </a>
    <% } %>

    <dialog id="authorModal">
        <div id="authorInfo">
            <h2 id="authorName"></h2>
            <img id="authorImage">
        </div>
        <button id="closeModal">Close</button>
    </dialog>

    <footer>
        <h3>Made by Justin and Alec</h3>
    </footer>

    <script>
        dqs("#closeModal").addEventListener("click", () => dqs("#authorModal").close());

        function dqsa(selector) {
            return document.querySelectorAll(selector);
        }

        function dqs(selector) {
            return document.querySelector(selector);
        }

        let authors = dqsa(".authors");
        for(let author of authors) {
            author.addEventListener("click", getAuthorInfo);
        }

        async function getAuthorInfo() {
            let authorId = this.getAttribute("authorId");
            let url = `api/authors/${authorId}`;
            let response = await fetch(url);
            let data = await response.json();
            console.log(data);
            let nameElement = document.getElementById("authorName");
            let imageElement = document.getElementById("authorImage");
            nameElement.textContent = data[0].firstName + " " + data[0].lastName;
            imageElement.src = data[0].portrait;
            dqs("#authorModal").showModal();
        }
    </script>
</body>
</html>dqsa